<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>GetAllRooms</servlet-name>
        <servlet-class>Controller.GetAllRooms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRoom</servlet-name>
        <servlet-class>Controller.AdminRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoomServlet</servlet-name>
        <servlet-class>Controller.AddRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoom</servlet-name>
        <servlet-class>Controller.UpdateRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoomServlet</servlet-name>
        <servlet-class>Controller.UpdateRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRoomDetails</servlet-name>
        <servlet-class>Controller.AdminRoomDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeteleRoom</servlet-name>
        <servlet-class>Controller.DeteleRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeRoom</servlet-name>
        <servlet-class>Controller.HomeRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomDetailServlet</servlet-name>
        <servlet-class>Controller.RoomDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingResult</servlet-name>
        <servlet-class>Controller.BookingResult</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllRooms</servlet-name>
        <url-pattern>/getallrooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRoom</servlet-name>
        <url-pattern>/adminroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoomServlet</servlet-name>
        <url-pattern>/add-room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoomServlet</servlet-name>
        <url-pattern>/update-room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRoomDetails</servlet-name>
        <url-pattern>/admin-room-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeteleRoom</servlet-name>
        <url-pattern>/detele-room</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadAvatarServlet</servlet-name>
        <servlet-class>your.package.UploadAvatarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadAvatarServlet</servlet-name>
        <url-pattern>/upload-avatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeRoom</servlet-name>
        <url-pattern>/home-room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomDetailServlet</servlet-name>
        <url-pattern>/room-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingResult</servlet-name>
        <url-pattern>/booking-result</url-pattern>
    </servlet-mapping>
</web-app>
